@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-content > h1 {
  font-family: "Press Start 2P", system-ui;
}
